<h1>Inserimento prodotto</h1>

<div class="row">
    <div class="col">

        <div class="form-group">
            <label for="input-codice">Codice</label>
            <input type="text" [(ngModel)]="cod" class="form-control" id="input-codice" />
        </div>

        <div class="form-group">
            <label for="input-nome">Nome</label>
            <input type="text" [(ngModel)]="nom" class="form-control" id="input-nome" />
        </div>

        <div class="form-group">
            <label for="input-descrizione">Descrizione</label>
            <textarea class="form-control" [(ngModel)]="des" id="input-descrizione"></textarea>
        </div>

        <div class="form-group">
            <label for="input-prezzo">Prezzo</label>
            <input type="number" min="0" [(ngModel)]="pre" class="form-control" id="input-prezzo" />
        </div>

        <div class="form-group">
            <label for="input-quantita">Quantità</label>
            <input type="number" min="0" [(ngModel)]="qua" class="form-control" id="input-quantita" />
        </div>

        <button type="button" (click)="salva()" class="btn btn-primary">Salva</button>

    </div>
</div>